
<link href="stylesheets/cover.css" rel="stylesheet">

<div class="cover-container text-center d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">hypnoboard</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" aria-current="page" href="/client">listener</a>
        <a class="nav-link" href="/server">server</a>
        <a class="nav-link active" href="/about">about</a>
      </nav>
    </div>
  </header>

  <main class="px-3 text-center">
    
    <img src="images/K5Msw2H.jpg" class="img-fluid rounded "/>
    <p class="p-1 lead">from kahlan with love</p>
   
  </main>

  


  <footer class="mt-auto text-white-50">
    <p>2021</p>
  </footer>
</div>
  
</script>

    


