<script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2><label><input type="checkbox">Turn on audio</button></label></h2>

<div class="box" id="log">
<script>

  window.console.log = function(txt) {
    $("#log").append("<br/>");
    $("#log").append(txt);
    $("#log").append("<br/>");
  }
  
  const good = 
  [ 
    new Audio('/audio/good/1.mp3'),
    new Audio('/audio/good/2.mp3'),
    new Audio('/audio/good/3.mp3'),
    new Audio('/audio/good/4.mp3'),
    new Audio('/audio/good/5.mp3'),
    new Audio('/audio/good/6.mp3'),
    new Audio('/audio/good/7.mp3'),
  ]
  const stand = 
  [ 
    new Audio('/audio/stand/1.wav'),
    new Audio('/audio/stand/2.wav'),
    new Audio('/audio/stand/3.wav'),
    new Audio('/audio/stand/4.wav'),
    new Audio('/audio/stand/5.wav'),
  ]
  const sit = 
  [ 
    new Audio('/audio/sit/1.wav'),
    new Audio('/audio/sit/2.wav'),
    new Audio('/audio/sit/3.wav'),
    new Audio('/audio/sit/4.wav'),
    new Audio('/audio/sit/5.wav'),
  ]
  const kneel = 
  [ 
    new Audio('/audio/kneel/1.mp3'),
    new Audio('/audio/kneel/2.mp3'),
    new Audio('/audio/kneel/3.mp3'),
  ]
  const so_good = new Audio('/audio/good/8.mp3');

  var socket = io.connect();
  socket.on('connection', (socket) => {
    console.log('connected');
  });
    socket.on('connect', function(){
    console.log('connect')
  });
    socket.on('disconnect', function(){
    console.log('disconnect')
  });
  socket.on('play_sound', function(msg){
    console.log(msg)
    if(msg=="good") {
      good[Math.floor(Math.random()*good.length)].play();
    }
    if(msg=="so_good") {
      so_good.play();
    }
    if(msg=="stand") {
      stand[Math.floor(Math.random()*stand.length)].play();
    }
    if(msg=="sit") {
      sit[Math.floor(Math.random()*sit.length)].play();
    }
    if(msg=="kneel") {
      kneel[Math.floor(Math.random()*kneel.length)].play();
    }
  });
  
  
</script>
</div>
